.modal_content {
    display: flex;
    background-color: white;
    position: fixed;
    text-align: center;
    top: 30%;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid rgb(167, 159, 159);
}


.Favs-message {
    color: rgb(124, 124, 124);
    text-align: center;
}

.Favs-title {
    margin-top: 5px;
}

.waiting {
    font-size: 80px;
    margin: 80px;
    opacity: 0.7;
    background: transparent;
}
.buffer{
    background-color: rgb(200, 211, 211);
}
@media screen and (max-width: 480px) {
    /* .Favs-back {
        flex-direction: row;
    } */

    .home {
        margin: 13px 0px 0px 80px;
    }

    .modal_content {
        z-index: 1;
        position: fixed;
        top: 3%;
        right: 3%;
        left: 3%;
        width: auto;
        margin: 0;
    }
    .buffer{
        margin-top: -13px;
        background-color: rgb(200, 211, 211);
    }
    
}