/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  text-align: center;
}

.topnav #myLinks {
  color: white;
  margin: 5px;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Style the hamburger menu */
.topnav a.icon {
  background-color: rgb(65, 61, 61);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
a:hover {
  color: rgb(227, 102, 102);
  background-color: rgb(62, 56, 56);
}

.active {
  display: flex;
  background-color: #8a0303;
  gap: 1rem;
}

.navico {
  color: rgb(223, 219, 219);
}

.log-btn{
  margin:25px;
}


@media screen and (max-width: 480px) {
  .appname {
    /* display: none; */
    font-size: 12px;
  }

  .active {
    width: 85%;
    display: flex;
    justify-content: space-around;
  }
  
}