.QList {
  display: flex;
  width: 80%;
  height: 100%;
}

.QList-title {
  margin: 1rem;
  color: rgb(39, 73, 25);
  letter-spacing: 0.1rem;
  font-family: Cinzel;
  color: #d8c1c1;
  font-size: 24px;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(5, 5, 5, 0.5);
}

.QList-sidebar {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 28%;
  border-radius: 3%;
  box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
  overflow: auto;
}

.QList-sidebar img {
  width: 100%;
  padding: 10%;
  border-radius: 5%;
  /* box-shadow: inset 0px -1px 15px -2px #000000; */
  z-index: 2;
  opacity: 0.3;
}


.getmore {
  background: url("../images/marble.jpg")no-repeat center center;
  margin-top: 10%;
  font-family: Cinzel;
  font-size: 1.5rem;
  color: grey;
  letter-spacing: 0.1rem;
  border-radius: 6%;
  border: 2px solid rgb(197, 190, 190);
  height: 10%;
  min-width: 60%;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(90, 84, 84, 0.5);
  box-shadow: inset 0px 1px 15px -2px #474343;
}


.QList-words {
  height: 100%;
  width: 100%;
  background: white;
  /* align-self: center; */
  overflow: scroll;
  box-shadow: inset 0px 1px 15px -2px #000000;
}

.btn-responsive{
  display: none;
  /* background-color:rgb(222, 186, 5); */
}


@media screen and (max-width: 480px) {
  .QList {
    height: 100vh;
    width: 100%;
  }

  .QList-sidebar {
    padding: 5px;
    width: 100%;
    background-color: #e4e4e4;
    height: 0%;
    position: absolute;
    bottom: 0;
    left:0;
    right:0
  }

  .QList-title {
    font-size: 1.5vh;
    line-height: 0px;
    color: rgb(0, 0, 0);
  }

  .btn-responsive {
    margin-top: 10px;
    font-family: Cinzel;
    display: block;
    border:none;
    /* border-radius: 1px;
    border: 1px solid rgb(236, 239, 236);
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
      1px 1px 1px rgba(5, 5, 5, 0.5); */
  }

  .image1 {
    display: none;
  }

  .full {

    display: none;
  }


  .getmore {
    display: none;
  }

  .QList-title {
    margin: 1rem;
    color: rgb(39, 73, 25);
    letter-spacing: 0.1rem;
    font-family: Cinzel;
    color: #d8c1c1;
    /* font-size: 24px; */
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
      1px 1px 1px rgba(5, 5, 5, 0.5);
  }

  .modal {
    position: fixed;
    top: 3%;
    right: 3%;
    left: 3%;
    width: auto;
    margin: 0;
  }
}