.Quote {
  border-bottom: 2px solid #eeeeee;
  font-weight: 400;
  padding: 3.5rem;
}

.face img {
  /* opacity: 0.6; */
  float: left;
  display: block;
  width: 50px;
  border-radius: 50%;
  padding: 5px;
  margin-right: 15px;
  margin-left: px;
  box-shadow: inset 0px -1px 15px -2px #c7c7c7;

}

/* individual quote display: */
.Quote-text {
  font-size: 1rem;
  font-family: 'Cinzel', serif;
  text-align: left;
  /* overflow: hidden; */
  /*overflow: stop wrapping text around img */
}

.Quote-text span {
  color: rgb(141, 141, 141);
  font-size: 0.8rem;
  font-style: italic;
}

.Quote-text :last-child {
  float: right;
}

.Quote-addButton {
  float: right;
  align-self: center;
  border-radius: 50%;
  border: solid;
  background-color: #fbfdf9;
  line-height: 20px;
  border-color: whitesmoke;
  font-style: oblique;
  box-shadow: inset 1px 6px 12px rgb(246, 239, 239), inset -1px -10px 5px rgb(235, 238, 235), 1px 2px 1px rgb(235, 235, 235);
  color: rgb(158, 150, 150);
  text-shadow: 1px 1px #d1cece;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Quote-addButton:hover {
  color: rgb(158, 8, 8);
  text-shadow: 0 5px 15px rgba(222, 55, 17, 0.4);
}

.close {
  color: rgb(93, 92, 92);
  opacity: .3;
  font-size: 1.2rem;
}

@media screen and (max-width: 480px) {
  .Quote-text {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Cinzel', serif;
  }
}