.Favs-back{
    display: flex;
    background: grey;
    font-size: 1.8rem;
    justify-content: space-between;
    text-align: center;
    text-shadow: 1px 1px #999999;
    padding: 0px 20px 0px 20px;
    color: rgb(201, 196, 196);
}
.modal_content {
    display: flex;
    opacity: .9;
    background-color: white;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid rgb(167, 159, 159);
}
.Favs-message {
    color:rgb(124, 124, 124);
    text-align: center;
    margin-top: 2rem;
}

