.Favs-back{
    background: grey;
    height: 5%;
    font-size: 2rem;
    /* border-radius: 5px; */
    text-align: center;
    text-shadow: 1px 1px #999999;
}
.modal_content {
    display: flex;
    opacity: .9;
    background-color: white;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid rgb(167, 159, 159);
}


