/* .App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/61f7685f-47e5-49a0-b5cb-ca6b8cab4228/drok89-a7a2a550-ba87-40a6-9701-b635550d55b3.jpg");
  background-position: center center;
} */

  .App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 105vh;
    font-family: "Rubik", sans-serif;
    color: #303233;
    /* background: rgb(209, 209, 209); */
  }
  body::after{
    /* background: url("marble.jpg")no-repeat center center ; */
    background-size:cover;
    content: "";
    opacity: 0.4;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;   
  }
  body {
}
  @media screen and (max-width: 480px) {
    body {
  }
      .App {
        height:50%;
      }
  }